sudo: required
dist: trusty
language: ruby

before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: yLIw1WItTyxT8t+J/kehrg8VpN9KcbZMdV7FvzCP2K3Rv9MeyPs13/vn+8MCRhK9NiCDFAC7PzOPRobYLruz56TxsH+qddDoMuSEbeQNPojHPHs79mAzqQGyhJl8KYTa+eBWe6S7nKT/9LnZxfjqWiXkCIgWqraI+RlbPVfwsuiV+Zm0z/nKm3bmrARIJp+VcWr0TihQqEFUBGxcQz2GyhYktSAS147OoTS9sB4unKtJ02pcXlPl6mK4Zj4p2SohR+ErJg5bifsldaRBDt3/JUyetky6gJWCrWbKSBO6QR2FvTUXt/h3FkQHo4bIX2Pss3smvaS5C5FmJXRpJ0kmfjeD2XRQEagyQAM1+eID/W/9g7jPZEBJbv3TOs0ISbpS7IrNpy4xSA8m+XzGp9px7bGcH1GBqXemNdVR1UkYzgfDlQSdJm3o4QQYfobc8l+rlal6KK88Zp+/0fUjpSbwq440vA5cGiIEYKHzQqoVLTHS+eJl2IMMjMSsa7zXBpfyj/98DRazd8tWmJg5f0tnNGKOGK8/sHZ4jeVtTRHy63VmuoSU7mnRWJNagOoIwM6YXCCgE5c5Gslf3Ap9GD1Ktwd2SEGkx0+ZejEYmEvoaUChFNKDjusw8Ta71vF0E7xVlnrHRGtuvbjMSWbTtEQgTTkzYemYTDwvAyAO7yYPLR8=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  on:
    repo: GITenberg/On-the-Improvement-of-the-Understanding_1016
    tags: true
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy